In [1]:
import csv

In [2]:
a=['sid','sname','city','contact']

In [3]:
records=[[1,'shiv','surat',9874561232],
         [2,'neel','bharuch',9785361889],
         [3,'raj','valod',8141596173],
         [4,'ved','bardoli',9634283010],
         [5,'meet','baroda',9930452161]]
p=[]

In [4]:
for i in range(5):
    sid=int(input("enter student id:"))
    sname=input("enter student name:")
    city=input("enter student city:")
    contact=int(input("enter student contact number:"))
    l=[sid,sname,city,contact]
    p.append(l)

enter student id:6
enter student name:om
enter student city:surat
enter student contact number:9632587412
enter student id:7
enter student name:bhavik
enter student city:mandvi
enter student contact number:9654783275
enter student id:8
enter student name:jugal
enter student city:valod
enter student contact number:8576941329
enter student id:9
enter student name:jenil
enter student city:bardoli
enter student contact number:7894561237
enter student id:10
enter student name:vihan
enter student city:surat
enter student contact number:9513246976

In [5]:
with open('C:\sqlite3\student.csv','w',newline='') as f:
    file=csv.writer(f)
    file.writerow(a)
    file.writerows(records)
    file.writerows(p)

In [6]:
with open('C:\sqlite3\student.csv','r',newline='') as read:
    all_record=csv.reader(read)
    for records in all_record:
        print(records)

['sid', 'sname', 'city', 'contact']
['1', 'shiv', 'surat', '9874561232']
['2', 'neel', 'bharuch', '9785361889']
['3', 'raj', 'valod', '8141596173']
['4', 'ved', 'bardoli', '9634283010']
['5', 'meet', 'baroda', '9930452161']
['6', 'om', 'surat', '9632587412']
['7', 'bhavik', 'mandvi', '9654783275']
['8', 'jugal', 'valod', '8576941329']
['9', 'jenil', 'bardoli', '7894561237']
['10', 'vihan', 'surat', '9513246976']